body {
    font-family: "Times New Roman", Times, serif;
    background-color: #FEF3E2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #FA4032;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 300px;
}

input[type="text"] {
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #FA812F;
    color: #FEF3E2;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #FAB12F;
}
